
$FontSize20: 1.2rem;
$FontSize30: 1.8rem;
$bigHeadlineFont: 5.6rem;
$smallHeadlineFont: 2.8rem;
$fontColorWhite: #F9F9F9;
$fontColorBlack: #707070;

$screen-lg-min: 950px;

@mixin md {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}
