@import './globalVariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
}

body{
  background-color: #F3F3F3;
}

.globalContentWidth{
  max-width: calc(min(84rem, 90%));
  margin: auto;
}