@import './globalVariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  min-width: 380px;
}

body{
  background-color: #F3F3F3;
}

img{
  display: block;
}
a{
  all: unset;
}
.globalContentWidth{
  max-width: calc(min(70rem, 90%));
  margin: auto;
}